{% extends 'base.html.twig' %}

{% block title %}RECETTES{% endblock %}

{% block body %}

<style>
    h1{
        letter-spacing: 8px;
    }

    .filet{
        margin : 50px auto 100px auto;
        width:80px;
        height:15px;
        background:#18BC9C;

    }

    .recipe_cards{
        display:flex;
        flex-wrap:wrap;
    }

    .recipe_cards h2{
        font-size:24px;
        font-weight:bold;
        color:#2C3E50;
    }

    .recipe_content_photo{
        width:100%;
        height: 275px;
        overflow:hidden;
        margin-bottom:30px;
        object-fit:cover;
        
    }
    .recipe_cards img{
        height:auto;

    }


</style>

    <h1 class="text-center mt-5">RECETTES</h1>
       <div class="filet "></div>
            <tbody>
                <div class="recipe_cards">
                    <div class="row">
                        {% for recipe in recipes %}
                            <div class="col-4 mb-4">
                                <tr>
                                    {# <td>{{ recipe.id }}</td> #}
                                    <td> <h2>{{ recipe.title }}</h2></td>
                                    <td>{{ recipe.note }} / 5</td>
                                    <td>
                                        <div class="recipe_content_photo">
                                            <img class="col-12 mt-3 mb-3 p-0" src="{{ recipe.image }}" alt="" srcset=""></td>
                                        </div>
                                    {# <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ recipe.updatedAt ? recipe.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                                    <td>
                                        <a type="button" class="btn btn-success" href="{{ path('recipe_show', {'id': recipe.id}) }}">Voir la recette</a>
                                        <a type="button" class="btn btn-secondary" href="{{ path('recipe_edit', {'id': recipe.id}) }}">Modifier la recette</a>
                                    </td>
                                </tr>
                            </div>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                    </div>
                </div>
            </tbody>
        </table>

        <a type="button" class="btn btn-primary mt-5" href="{{ path('recipe_new') }}">Créer votre recette</a>
    
{% endblock %}
