{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}

<style>
    .filet{
        margin : 50px auto 100px auto;
        width:80px;
        height:15px;
        background:#18BC9C;
    }

</style>

    <h1 class="text-center mt-5 mb-5">{{ recipe.title }}</h1>
    <div class="filet "></div>
        <div class="row">
            <div class="recipe_img col-6 p-0 m-0">
                    <img class="col p-0" src="{{ recipe.image }}" alt="" srcset="">
            </div>
            <div class="recipe_info col-6 pl-4">
                <div class="note">
                    {{ recipe.note }} / 5
                </div>    
                <div class="recipe_ingredients mt-4">
                <p>{{ recipe.ingredient }}</p>
                </div>
            
            </div>
            <div class="recipe_description mt-4  p-3">
                <h2>Recette</h2>
                <hr>
                <p class="mt-4">{{ recipe.content }}</p>
            </div>
            
        
        </div>
         

    {{ include('recipe/_delete_form.html.twig') }} 
    
    <a type="button" class="btn btn-primary mt-5" href="{{ path('recipe_edit', {'id': recipe.id}) }}">Modifier la recette</a>
    <a type="button" class="btn btn-primary mt-5" href="{{ path('recipe_index') }}">Retourner aux recettes</a>

{% endblock %}
