{% extends 'base.html.twig' %}

{% block title %}Fiches pratiques{% endblock %}

{% block body %}

<style>

    h1{
        letter-spacing: 8px;
    }

    h2{
        font-size:26px;
        margin-bottom:30px;

    }

    .filet{
        margin : 50px auto 100px auto;
        width:80px;
        height:15px;
        background:#18BC9C;
    }
    .article{
        display:flex;
    }

    .article_content{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

</style>

    <h1 class="text-center mt-5">FICHES PRATIQUES</h1>
    <div class="filet "></div>
    <div class="container">
            {% for advice in advices %}
                <div class="row">
                    <div class="article col-12 mt-3 mb-3">
                        <div class="article_img col-5 p-0">
                            <img class="col  p-0" src="{{ advice.image }}" alt="" srcset=""></td>
                        </div>
                        <div class="article_content col-7">
                            <h2>{{ advice.title }}</h2>
                            <p>
                                {{ advice.content | slice(0, 600) }} <a href="{{ path('advice_show', {'id': advice.id})}}">...lire la suite</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                <p colspan="5">aucune fiche enregistrée</p>
            {% endfor %}
                
            <a type="button" class="btn btn-primary mt-5" href="{{ path('advice_new') }}">Créer votre fiche pratique</a>

    </div>

{% endblock %}
