{% extends 'base.html.twig' %}

{% block title %}Advice{% endblock %}

{% block body %}
  <style>
    .filet{
        margin : 50px auto 0 auto;
        width:80px;
        height:15px;
        background:#18BC9C;
    }

    h1{
        letter-spacing: 8px;
        text-transform: uppercase;
        color:white;
    }
    .title{
        position:absolute;
        
    }
    .img_top{
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:30px;
        width:100%;
        height:350px;
        object-fit: cover;
        overflow:hidden;
        position:relative;
    }
    img{
        width:100%;
        position:absolute;
    }
    .filter{
        width:100%;
        height:100%;
        background:black;
        opacity: .50;
        position:absolute;
    }
    .recipe_ingredients h2{
        margin-bottom:20px
    }
    


</style>
    <div class="img_top">
        <img src="{{ advice.imgTop }}" alt="">
        <div class="filter"></div>
        <div class="title">
            <h1 class="text-center  mb-5">{{ advice.title }}</h1>
            <div class="filet "></div>
        </div>
    
    </div>
        <div class="row">
            <div class="recipe_description mt-5 p-3">
                <h2>Trucs et Astuces</h2>
                <hr>
                <p class="mt-4">{{ advice.content }}</p>
            </div>
            <div class="recipe_img col-12 m-0">
                    <img class="col p-0" src="{{ advice.image }}" alt="" srcset="">
            </div>
            
        
        </div>

    <a type="button" class="btn btn-secondary mt-5" href="{{ path('advice_edit', {'id': advice.id}) }}">Modifier la fiche</a>
    <a type="button" class="btn btn-primary mt-5" href="{{ path('advice_index') }}">Retourner aux fiches pratiques</a>

    {{ include('advice/_delete_form.html.twig') }}
{% endblock %}
